<div class="row">
              <div class="col">
                <section class="contact_header">
                  <h3>GET IN TOUCH</h3>
                  <p>Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management. Integrated planning tools help you keep track of projects and stay organized.Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management. </p>
                </section> 
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <form class="contact_form">
                  <div class="form-group">
                    <div class="row">
                        <div class="col">
                          <input type="text" name="name" class="form-control form_elem" id="formGroupExampleInput" placeholder="Name">
                        </div>
                        <div class="col">
                          <input type="email" class="form-control form_elem" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <textarea class="form-control form_elem form_message" id="exampleFormControlTextarea1" rows="3" placeholder="Type your message"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <button type="button" class="btn btn-primary form_elem send_message">Send message</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-6">
                <div class="contact_information">
                  <h5>CONTACT INFO</h5>
                  <p>Khmelnitsky Instytutska street 11/3</p>
                  <p>Vladislav Zaharchuk</p>
                  <p>+380 98 2081 773</p>
                  <p>zahar4uk.vladislaw2016@yandex.ru</p>

                </div>
              </div>
            </div>