<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Write to us :)</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Message</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send</button>
            </div>
          </div>
        </div>
      </div>

      <div class="header_border">
       <div class="row">
            <div class="col-lg-6 col-sm-12">
              <h1><b>This is a very cool site </b></h1>
              <p>
                Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management. Integrated planning tools help you keep track of projects and stay organized.Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management. Integrated planning tools help you keep track of projects and stay organized.
              </p>
              <button type="button" class="btn contact_btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Contact us</button>
            </div>

            <div class="col-lg-6 col-sm-12">
                <iframe width="480" height="300" src="https://www.youtube.com/embed/oDVDTaqU6aM" frameborder="0" allow="autoplay; encrypted-media" class="page_header_iframe"></iframe>
            </div>
       </div>
     </div>
     <div class="row">
              <div class="col-lg-6 col-md-12">
                <h2>Do you know we can provide for you?</h2>
                <p>
                  Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management. Integrated planning tools help you keep track of projects and stay organized.Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management. Integrated planning tools help you keep track of projects and stay organized.
                </p>
                <a href="Pages/About_us.html"><button type="button" class="btn learn_more_btn">Learn more</button></a>
              </div>

              <div class="col-lg-6">
                <article class="services">
                  <div class="row">
                    
                      <div class="col-xs-12 col-md-6">
                        <section class="services_section">
                          {{material-icon "settings"}}
                          <h4>Menegment</h4>
                           <p>Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management.
                           </p>
                        </section>
                      </div>
                      <div class="col-xs-12 col-md-6">
                        <section class="services_section">
                          {{material-icon "create"}}
                          <h4>UI/UX Desing</h4>
                          <p>Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management.
                          </p>
                        </section> 
                      </div>
                      <div class="w-100"></div>
                      <div class="col-xs-12 col-md-6">
                        <section class="services_section">
                          {{material-icon "format_paint"}}
                          <h4>Logo/Branding</h4>
                          <p>Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management.
                          </p>
                        </section> 
                      </div>
                      <div class=" col-xs-12 col-md-6">
                        <section class="services_section">
                          {{material-icon "bubble_chart"}}
                          <h4>Animaton</h4>
                          <p>Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management.
                          </p>
                        </section> 
                      </div>
                    </div>
                  </article> 
                </div>
            </div>